# Written by `rotkit carve bg-assets`: data store rows for in-game dialog speaker pictures
# (carved/data/dialog_portraits/), same columns as config/data.cfg:
# address<TAB>name<TAB>type

0x08d3dce0	DialogPortraitFrodoBgAsset	u8[0x4e0]
0x08d3e1c0	DialogPortraitLegolasBgAsset	u8[0x4c8]
0x08d3e688	DialogPortraitAragornBgAsset	u8[0x574]
0x08d3ebfc	DialogPortraitGandalfBgAsset	u8[0x528]
0x08d3f124	DialogPortraitEowynBgAsset	u8[0x5a0]
0x08d3f6c4	DialogPortraitGimliBgAsset	u8[0x574]
0x08d3fc38	DialogPortraitSamBgAsset	u8[0x5c4]
0x08d401fc	DialogPortraitSmeagolBgAsset	u8[0x53c]
0x08d40738	DialogPortraitSarumanBgAsset	u8[0x53c]
0x08d40c74	DialogPortraitEomerBgAsset	u8[0x59c]
0x08d41210	DialogPortraitTheodenBgAsset	u8[0x568]
0x08d41778	DialogPortraitVillagerBgAsset	u8[0x520]
0x08d41c98	DialogPortraitRohanSoldierBgAsset	u8[0x4f8]
0x08d42190	DialogPortraitElrondBgAsset	u8[0x404]
0x08d42594	DialogPortraitRangerBgAsset	u8[0x4d4]
0x08d42a68	DialogPortraitKingOfTheDeadBgAsset	u8[0x4c8]
0x08d42f30	DialogPortraitElderBgAsset	u8[0x568]
0x08d43498	DialogPortraitOrcBgAsset	u8[0x5a4]
0x08d43a3c	DialogPortraitWomanBgAsset	u8[0x44c]
0x08d43e88	DialogPortraitOrcCaptainBgAsset	u8[0x5f0]
0x08d44478	DialogPortraitMouthOfSauronBgAsset	u8[0x50c]
0x08d44984	DialogPortraitGondorSoldierBgAsset	u8[0x37c]
0x08d44d00	DialogPortraitMerryBgAsset	u8[0x550]
0x08d45250	DialogPortraitWitchKingBgAsset	u8[0x368]
0x08d455b8	DialogPortraitPippinBgAsset	u8[0x570]
0x08d45b28	DialogPortraitDenethorBgAsset	u8[0x590]
0x08d460b8	DialogPortraitFaramirBgAsset	u8[0x5a4]
0x08d4665c	DialogPortraitGollumBgAsset	u8[0x510]
0x08d46b6c	DialogPortraitShagratBgAsset	u8[0x54c]
0x08d470b8	DialogPortraitGorbagBgAsset	u8[0x56c]
