# Written by `rotkit carve bg-assets`: data store rows for stat screen hero portraits
# (carved/data/hero_portraits/), same columns as config/data.cfg:
# address<TAB>name<TAB>type

0x08b91fd4	HeroPortraitFrodoBgAsset	u8[0x8c0]
0x08b92894	HeroPortraitLegolasBgAsset	u8[0x970]
0x08b93204	HeroPortraitAragornBgAsset	u8[0x978]
0x08b93b7c	HeroPortraitGandalfBgAsset	u8[0x9c0]
0x08b9453c	HeroPortraitEowynBgAsset	u8[0x9ac]
0x08b94ee8	HeroPortraitGimliBgAsset	u8[0x9a0]
0x08b95888	HeroPortraitSamBgAsset	u8[0x810]
0x08b96098	HeroPortraitSmeagolBgAsset	u8[0x84c]
