# Written by `rotkit carve level-icons`: data store rows for the level select icons
# (carved/data/level_icons/), same columns as config/data.cfg:
# address<TAB>name<TAB>type

0x08b55350	LevelIconMoriaTiles	u8[0x400]
0x08b55750	LevelIconMoriaFrames	SpriteFrameSetHeader
0x08b5576c	LevelIconMoriaPalette	u16[16]
0x08b5578c	LevelIconWeathertopTiles	u8[0x3c4]
0x08b55b50	LevelIconWeathertopFrames	SpriteFrameSetHeader
0x08b55b6c	LevelIconWeathertopPalette	u16[16]
0x08b55b8c	LevelIconHelmsDeepTiles	u8[0x3c4]
0x08b55f50	LevelIconHelmsDeepFrames	SpriteFrameSetHeader
0x08b55f6c	LevelIconHelmsDeepPalette	u16[16]
0x08b55f8c	LevelIconFangornForestTiles	u8[0x3d4]
0x08b56360	LevelIconFangornForestFrames	SpriteFrameSetHeader
0x08b5637c	LevelIconFangornForestPalette	u16[16]
0x08b5639c	LevelIconLockedTiles	u8[0x400]
0x08b5679c	LevelIconLockedFrames	SpriteFrameSetHeader
0x08b567b8	LevelIconLockedPalette	u16[16]
0x08b610c8	LevelIconPathsOfTheDeadTiles	u8[0x294]
0x08b6135c	LevelIconPathsOfTheDeadFrames	SpriteFrameSetHeader
0x08b61378	LevelIconPathsOfTheDeadPalette	u16[16]
0x08b61398	LevelIconPelennorFieldsTiles	u8[0x398]
0x08b61730	LevelIconPelennorFieldsFrames	SpriteFrameSetHeader
0x08b6174c	LevelIconPelennorFieldsPalette	u16[16]
0x08b6176c	LevelIconMinasTirithTiles	u8[0x3dc]
0x08b61b48	LevelIconMinasTirithFrames	SpriteFrameSetHeader
0x08b61b64	LevelIconMinasTirithPalette	u16[16]
0x08b61b84	LevelIconMtDoomTiles	u8[0x384]
0x08b61f08	LevelIconMtDoomFrames	SpriteFrameSetHeader
0x08b61f24	LevelIconMtDoomPalette	u16[16]
