# Written by `rotkit carve loot-piles`: data store rows for the ground drop sprites
# (carved/data/loot_piles/), same columns as config/data.cfg:
# address<TAB>name<TAB>type

0x08febd84	LootPileDeagolsSkullTiles	u8[0xa4]
0x08febe28	LootPileDeagolsSkullFrames	SpriteFrameSetHeader
0x08febe4c	LootPileFeatherOfGwaihirTiles	u8[0x6c]
0x08febeb8	LootPileFeatherOfGwaihirFrames	SpriteFrameSetHeader
0x08febed8	LootPileSarumansPalantirTiles	u8[0x7c]
0x08febf54	LootPileSarumansPalantirFrames	SpriteFrameSetHeader
0x08febf78	LootPileShelobsStingerTiles	u8[0x90]
0x08fec008	LootPileShelobsStingerFrames	SpriteFrameSetHeader
0x08fec028	LootPileGaladrielsLockTiles	u8[0x54]
0x08fec07c	LootPileGaladrielsLockFrames	SpriteFrameSetHeader
0x08fec0a0	LootPileWitchKingsCrownTiles	u8[0xb8]
0x08fec158	LootPileWitchKingsCrownFrames	SpriteFrameSetHeader
0x08fec184	LootPileThereAndBackAgainTiles	u8[0x8c]
0x08fec210	LootPileThereAndBackAgainFrames	SpriteFrameSetHeader
0x08fec230	LootPileSimbelmyneTiles	u8[0x7c]
0x08fec2ac	LootPileSimbelmyneFrames	SpriteFrameSetHeader
0x08fec2d0	LootPileDwarvenJugTiles	u8[0xe4]
0x08fec3b4	LootPileDwarvenJugFrames	SpriteFrameSetHeader
0x08fec3d8	LootPileGondorTreeCrestTiles	u8[0xf0]
0x08fec4c8	LootPileGondorTreeCrestFrames	SpriteFrameSetHeader
0x08fec4e8	LootPileLanternTiles	u8[0xd8]
0x08fec5c0	LootPileLanternFrames	SpriteFrameSetHeader
0x08fec5e0	LootPileTatteredFlagTiles	u8[0xe0]
0x08fec6c0	LootPileTatteredFlagFrames	SpriteFrameSetHeader
0x08fec6e4	LootPileWhiteHandCrestTiles	u8[0x118]
0x08fec7fc	LootPileWhiteHandCrestFrames	SpriteFrameSetHeader
0x08fec81c	LootPileGemStackMinTiles	u8[0xa0]
0x08fec8bc	LootPileGemStackMinFrames	SpriteFrameSetHeader
0x08fec92c	LootPileGemStackTiles	u8[0x1f4]
0x08fecb20	LootPileGemStackFrames	SpriteFrameSetHeader
0x08fecb90	LootPileFruitTiles	u8[0x7c]
0x08fecc0c	LootPileFruitFrames	SpriteFrameSetHeader
0x08fecc2c	LootPileMushroomsTiles	u8[0x80]
0x08feccac	LootPileMushroomsFrames	SpriteFrameSetHeader
0x08fecccc	LootPileDriedKingsfoilTiles	u8[0x54]
0x08fecd20	LootPileDriedKingsfoilFrames	SpriteFrameSetHeader
0x08fecd44	LootPileFreshKingsfoilTiles	u8[0x70]
0x08fecdb4	LootPileFreshKingsfoilFrames	SpriteFrameSetHeader
0x08fecdd4	LootPileLembasBreadTiles	u8[0x60]
0x08fece34	LootPileLembasBreadFrames	SpriteFrameSetHeader
0x08fece54	LootPileBowTier1Tiles	u8[0x94]
0x08fecee8	LootPileBowTier1Frames	SpriteFrameSetHeader
0x08fecf0c	LootPileBowTier2Tiles	u8[0x88]
0x08fecf94	LootPileBowTier2Frames	SpriteFrameSetHeader
0x08fecfb8	LootPileArrowTiles	u8[0x70]
0x08fed028	LootPileArrowFrames	SpriteFrameSetHeader
0x08fed048	LootPileKnifeTier2Tiles	u8[0x50]
0x08fed098	LootPileKnifeTier2Frames	SpriteFrameSetHeader
0x08fed0bc	LootPileSwordOneHandTiles	u8[0x74]
0x08fed130	LootPileSwordOneHandFrames	SpriteFrameSetHeader
0x08fed154	LootPileSwordTwoHandTier1Tiles	u8[0x70]
0x08fed1c4	LootPileSwordTwoHandTier1Frames	SpriteFrameSetHeader
0x08fed1e8	LootPileSwordTwoHandTier2Tiles	u8[0x90]
0x08fed278	LootPileSwordTwoHandTier2Frames	SpriteFrameSetHeader
0x08fed298	LootPileAxeTier1Tiles	u8[0x60]
0x08fed2f8	LootPileAxeTier1Frames	SpriteFrameSetHeader
0x08fed318	LootPileAxeTier2Tiles	u8[0x94]
0x08fed3ac	LootPileAxeTier2Frames	SpriteFrameSetHeader
0x08fed3d0	LootPileStaffTier1Tiles	u8[0x6c]
0x08fed43c	LootPileStaffTier1Frames	SpriteFrameSetHeader
0x08fed460	LootPileStaffTier2Tiles	u8[0x74]
0x08fed4d4	LootPileStaffTier2Frames	SpriteFrameSetHeader
0x08fed4f4	LootPileKnifeTier1Tiles	u8[0x48]
0x08fed53c	LootPileKnifeTier1Frames	SpriteFrameSetHeader
0x08fed55c	LootPileSpoonTiles	u8[0x40]
0x08fed59c	LootPileSpoonFrames	SpriteFrameSetHeader
0x08fed5bc	LootPileArmorTier1Tiles	u8[0x9c]
0x08fed658	LootPileArmorTier1Frames	SpriteFrameSetHeader
0x08fed67c	LootPileArmorTier2Tiles	u8[0x94]
0x08fed710	LootPileArmorTier2Frames	SpriteFrameSetHeader
0x08fed734	LootPileArmorTier3Tiles	u8[0xac]
0x08fed7e0	LootPileArmorTier3Frames	SpriteFrameSetHeader
0x08fed804	LootPileCloakTier1Tiles	u8[0xdc]
0x08fed8e0	LootPileCloakTier1Frames	SpriteFrameSetHeader
0x08fed904	LootPileCloakTier2Tiles	u8[0xdc]
0x08fed9e0	LootPileCloakTier2Frames	SpriteFrameSetHeader
0x08feda04	LootPileCloakTier3Tiles	u8[0x104]
0x08fedb08	LootPileCloakTier3Frames	SpriteFrameSetHeader
0x08fedb2c	LootPileShieldTier1Tiles	u8[0x68]
0x08fedb94	LootPileShieldTier1Frames	SpriteFrameSetHeader
0x08fedbb8	LootPileShieldTier2Tiles	u8[0x9c]
0x08fedc54	LootPileShieldTier2Frames	SpriteFrameSetHeader
0x08fedc78	LootPileShoeTier1Tiles	u8[0x70]
0x08fedce8	LootPileShoeTier1Frames	SpriteFrameSetHeader
0x08fedd08	LootPileShoeTier2Tiles	u8[0x78]
0x08fedd80	LootPileShoeTier2Frames	SpriteFrameSetHeader
0x08fedda4	LootPileAccessoryTrinketTiles	u8[0x5c]
0x08fede00	LootPileAccessoryTrinketFrames	SpriteFrameSetHeader
0x08fede20	LootPileAccessoryAmuletTiles	u8[0x6c]
0x08fede8c	LootPileAccessoryAmuletFrames	SpriteFrameSetHeader
0x08fedeac	LootPileAccessoryCollarTiles	u8[0x50]
0x08fedefc	LootPileAccessoryCollarFrames	SpriteFrameSetHeader
0x08fedf1c	LootPileHelmCrownTiles	u8[0x60]
0x08fedf7c	LootPileHelmCrownFrames	SpriteFrameSetHeader
0x08fedf9c	LootPileHelmHoodTiles	u8[0x64]
0x08fee000	LootPileHelmHoodFrames	SpriteFrameSetHeader
0x08fee020	LootPileHelmMetalTiles	u8[0x80]
0x08fee0a0	LootPileHelmMetalFrames	SpriteFrameSetHeader
0x08fee0c0	LootPileUniqueMeleeTiles	u8[0x94]
0x08fee154	LootPileUniqueMeleeFrames	SpriteFrameSetHeader
0x08fee178	LootPileUniqueBowTiles	u8[0x88]
0x08fee200	LootPileUniqueBowFrames	SpriteFrameSetHeader
0x08fee224	LootPileUniqueStaffTiles	u8[0x74]
0x08fee298	LootPileUniqueStaffFrames	SpriteFrameSetHeader
0x08fee2bc	LootPileUniqueSwordTiles	u8[0x80]
0x08fee33c	LootPileUniqueSwordFrames	SpriteFrameSetHeader
0x08fee360	LootPileGloveTiles	u8[0x54]
0x08fee3b4	LootPileGloveFrames	SpriteFrameSetHeader
0x08fee3d4	LootPileClubTiles	u8[0x64]
0x08fee438	LootPileClubFrames	SpriteFrameSetHeader
0x08fee458	LootPileMaceTiles	u8[0x64]
0x08fee4bc	LootPileMaceFrames	SpriteFrameSetHeader
0x08fee4dc	LootPileStingTiles	u8[0x64]
0x08fee540	LootPileStingFrames	SpriteFrameSetHeader
0x08fee564	LootPileSymbolbladeTiles	u8[0x84]
0x08fee5e8	LootPileSymbolbladeFrames	SpriteFrameSetHeader
0x08fee60c	LootPileGlamdringTiles	u8[0x88]
0x08fee694	LootPileGlamdringFrames	SpriteFrameSetHeader
0x08fee6b8	LootPileOrcristTiles	u8[0x84]
0x08fee73c	LootPileOrcristFrames	SpriteFrameSetHeader
0x08fee75c	LootPileNarsilTiles	u8[0x84]
0x08fee7e0	LootPileNarsilFrames	SpriteFrameSetHeader
0x08fee800	LootPileHadhafangTiles	u8[0x50]
0x08fee850	LootPileHadhafangFrames	SpriteFrameSetHeader
0x08fee874	LootPileSilveraxeTiles	u8[0x98]
0x08fee90c	LootPileSilveraxeFrames	SpriteFrameSetHeader
0x08fee930	LootPileStaffOfFiveMagesTiles	u8[0x74]
0x08fee9a4	LootPileStaffOfFiveMagesFrames	SpriteFrameSetHeader
0x08fee9c4	LootPileStarfallBowTiles	u8[0x84]
0x08feea48	LootPileStarfallBowFrames	SpriteFrameSetHeader
0x08feea6c	LootPileNightfellBowTiles	u8[0x80]
0x08feeaec	LootPileNightfellBowFrames	SpriteFrameSetHeader
0x08feeb10	LootPileCelebornsPhialTiles	u8[0x60]
0x08feeb70	LootPileCelebornsPhialFrames	SpriteFrameSetHeader
0x08feeb90	LootPileBoromirsHornTiles	u8[0x7c]
0x08feec0c	LootPileBoromirsHornFrames	SpriteFrameSetHeader
0x08feec30	LootPileCyclopediaOfHerbsTiles	u8[0x84]
0x08feecb4	LootPileCyclopediaOfHerbsFrames	SpriteFrameSetHeader
0x08feecd8	LootPileSamsCookpotTiles	u8[0x54]
0x08feed2c	LootPileSamsCookpotFrames	SpriteFrameSetHeader
0x08feed4c	LootPileFletchingKitTiles	u8[0x74]
0x08feedc0	LootPileFletchingKitFrames	SpriteFrameSetHeader
0x08feede0	LootPileScrollsOfMinasTirithTiles	u8[0x84]
0x08feee64	LootPileScrollsOfMinasTirithFrames	SpriteFrameSetHeader
0x08feee88	LootPileEvenstarOfArwenTiles	u8[0x7c]
0x08feef04	LootPileEvenstarOfArwenFrames	SpriteFrameSetHeader
0x08feef28	LootPileForgottenPalantirTiles	u8[0x30]
0x08feef58	LootPileForgottenPalantirFrames	SpriteFrameSetHeader
0x08feef78	LootPileCrackedPalantirTiles	u8[0x4c]
0x08feefc4	LootPileCrackedPalantirFrames	SpriteFrameSetHeader
0x08feefe4	LootPileOrcDrumTiles	u8[0x7c]
0x08fef060	LootPileOrcDrumFrames	SpriteFrameSetHeader
0x08fef080	LootPileWovenGoblinDollTiles	u8[0x68]
0x08fef0e8	LootPileWovenGoblinDollFrames	SpriteFrameSetHeader
0x08fef108	LootPileOliphauntIvoryStatuetteTiles	u8[0x64]
0x08fef16c	LootPileOliphauntIvoryStatuetteFrames	SpriteFrameSetHeader
0x08fef18c	LootPileOrcHeadTiles	u8[0x9c]
0x08fef228	LootPileOrcHeadFrames	SpriteFrameSetHeader
0x08fef24c	LootPileSwollenSpiderGlandsTiles	u8[0x88]
0x08fef2d4	LootPileSwollenSpiderGlandsFrames	SpriteFrameSetHeader
0x08fef2f8	LootPileFeatherwoodFluteTiles	u8[0x24]
0x08fef31c	LootPileFeatherwoodFluteFrames	SpriteFrameSetHeader
0x08fef340	LootPileEntWaterTiles	u8[0x60]
0x08fef3a0	LootPileEntWaterFrames	SpriteFrameSetHeader
0x08fef3c0	LootPileRuneTiles	u8[0x54]
0x08fef414	LootPileRuneFrames	SpriteFrameSetHeader
