# Written by `rotkit carve skill-icons`: data store rows for the passive and active skill
# icons (carved/data/skills/), same columns as config/data.cfg:
# address<TAB>name<TAB>type

0x082876b0	PassiveSkillIconAssets	void *const [35]
0x0828773c	ActiveSkillIconAssets	void *const [8][6]
0x0878271c	PassiveSkillFearlessIcon	u8[0x184]
0x087828a0	PassiveSkillAccuracyIcon	u8[0x184]
0x08782a24	PassiveSkillNimbleIcon	u8[0x184]
0x08782ba8	PassiveSkillDeathStrikeIcon	u8[0x184]
0x08782d2c	PassiveSkillBlademasterIcon	u8[0x184]
0x08782eb0	PassiveSkillAxemasterIcon	u8[0x184]
0x08783034	PassiveSkillHerbLoreIcon	u8[0x184]
0x087831b8	PassiveSkillKeenEyesIcon	u8[0x184]
0x0878333c	PassiveSkillRangemasterIcon	u8[0x184]
0x087834c0	PassiveSkillLuckIcon	u8[0x184]
0x08783644	PassiveSkillDirtyClawsIcon	u8[0x184]
0x087837c8	PassiveSkillWhyDoesItHurtSmeagolIcon	u8[0x184]
0x0878394c	PassiveSkillOrcslayerIcon	u8[0x184]
0x08783ad0	PassiveSkillWoodsmanIcon	u8[0x184]
0x08783c54	PassiveSkillDwarfSenseIcon	u8[0x184]
0x08783dd8	PassiveSkillIronWillIcon	u8[0x184]
0x08783f5c	PassiveSkillSpiritOfMiddleEarthIcon	u8[0x184]
0x087840e0	PassiveSkillFightersResolveIcon	u8[0x184]
0x08784264	PassiveSkillShieldOffenseIcon	u8[0x184]
0x087843e8	PassiveSkillFleetOfFootIcon	u8[0x184]
0x0878456c	PassiveSkillHardyIcon	u8[0x184]
0x087846f0	PassiveSkillWiseIcon	u8[0x184]
0x08784874	PassiveSkillWisdomOfTheAgesIcon	u8[0x184]
0x087849f8	PassiveSkillBattleScarredIcon	u8[0x184]
0x08784b7c	PassiveSkillLastStandIcon	u8[0x184]
0x08784d00	PassiveSkillArrowParryIcon	u8[0x184]
0x08784e84	PassiveSkillWraithslayerIcon	u8[0x184]
0x08785008	PassiveSkillGaladrielsBlessingIcon	u8[0x184]
0x0878518c	PassiveSkillBerserkerIcon	u8[0x184]
0x08785310	PassiveSkillServantOfTheSecretFireIcon	u8[0x184]
0x08785494	PassiveSkillRageOfTheNorthIcon	u8[0x184]
0x08785618	PassiveSkillArcherOfMirkwoodIcon	u8[0x184]
0x0878579c	PassiveSkillGloinsDoubleAxesIcon	u8[0x184]
0x08785920	PassiveSkillDefendersFuryIcon	u8[0x184]
0x08785aa4	PassiveSkillThePreciousIcon	u8[0x184]
0x08785c28	ActiveSkillFrodoKnifeTossIcon	u8[0x184]
0x08785dac	ActiveSkillFrodoSnareIcon	u8[0x184]
0x08785f30	ActiveSkillFrodoGaladrielsCloakIcon	u8[0x184]
0x087860b4	ActiveSkillFrodoTheOneRingIcon	u8[0x184]
0x08786238	ActiveSkillFrodoRingsPersuasionIcon	u8[0x184]
0x087863bc	ActiveSkillFrodoHerbalHealingIcon	u8[0x184]
0x08786540	ActiveSkillSamKnifeTossIcon	u8[0x184]
0x087866c4	ActiveSkillSamSnareIcon	u8[0x184]
0x08786848	ActiveSkillSamGaladrielsCloakIcon	u8[0x184]
0x087869cc	ActiveSkillSamCookpotSmashIcon	u8[0x184]
0x08786b50	ActiveSkillSamSamwiseTheStrongIcon	u8[0x184]
0x08786cd4	ActiveSkillSmeagolBerserkAttackIcon	u8[0x184]
0x08786e58	ActiveSkillSmeagolRockThrowIcon	u8[0x184]
0x08786fdc	ActiveSkillSmeagolCowerIcon	u8[0x184]
0x08787160	ActiveSkillSmeagolGollumIcon	u8[0x184]
0x087872e4	ActiveSkillSmeagolPitifulWailIcon	u8[0x184]
0x08787468	ActiveSkillLegolasWhiteKnivesIcon	u8[0x184]
0x087875ec	ActiveSkillLegolasSpreadFireIcon	u8[0x184]
0x08787770	ActiveSkillLegolasFriendOfMirkwoodIcon	u8[0x184]
0x087878f4	ActiveSkillLegolasForagingIcon	u8[0x184]
0x08787a78	ActiveSkillLegolasSilentStrideIcon	u8[0x184]
0x08787bfc	ActiveSkillLegolasHerbalHealingIcon	u8[0x184]
0x08787d80	ActiveSkillAragornSweepIcon	u8[0x184]
0x08787f04	ActiveSkillAragornKingsCommandIcon	u8[0x184]
0x08788088	ActiveSkillAragornSwordThrowIcon	u8[0x184]
0x0878820c	ActiveSkillAragornNumenoreanWillIcon	u8[0x184]
0x08788390	ActiveSkillAragornCallOfTheDeadIcon	u8[0x184]
0x08788514	ActiveSkillAragornHerbalHealingIcon	u8[0x184]
0x08788698	ActiveSkillGandalfSwordOfPowerIcon	u8[0x184]
0x0878881c	ActiveSkillGandalfLightstrikeIcon	u8[0x184]
0x087889a0	ActiveSkillGandalfShieldIcon	u8[0x184]
0x08788b24	ActiveSkillGandalfBlindingAuraIcon	u8[0x184]
0x08788ca8	ActiveSkillGandalfSummonGwaihirIcon	u8[0x184]
0x08788e2c	ActiveSkillGandalfHerbalHealingIcon	u8[0x184]
0x08788fb0	ActiveSkillEowynDoubleStrikeIcon	u8[0x184]
0x08789134	ActiveSkillEowynShieldmaidenOfRohanIcon	u8[0x184]
0x087892b8	ActiveSkillEowynRohanSprintIcon	u8[0x184]
0x0878943c	ActiveSkillEowynShieldBashIcon	u8[0x184]
0x087895c0	ActiveSkillEowynForthEorlingasIcon	u8[0x184]
0x08789744	ActiveSkillEowynHerbalHealingIcon	u8[0x184]
0x087898c8	ActiveSkillGimliAxeThrowIcon	u8[0x184]
0x08789a4c	ActiveSkillGimliWhirlingAttackIcon	u8[0x184]
0x08789bd0	ActiveSkillGimliDwarvenRageIcon	u8[0x184]
0x08789d54	ActiveSkillGimliStoicismIcon	u8[0x184]
0x08789ed8	ActiveSkillGimliEarthShatterIcon	u8[0x184]
0x0878a05c	ActiveSkillGimliHerbalHealingIcon	u8[0x184]
