# Hand-edited data symbol map; applied by rotkit ghidra apply-symbols.
#
# Excludes the regenerable text-annotation layer (txt_*, ~10k labels stamped by
# apply_symbols.py from rotkit.analysis.decode_text, all 5 languages) and the
# GBA I/O register block (0x040003ff): standard hardware, belongs in a curated gba_io.h.
#
# Row order is canonicalized by `rotkit build format-stores` (`make format`).
# Don't put documentation comments for variables in here.
#
# columns: address<TAB>name<TAB>type  (type names are defined in include/*.h)

# ============================= 0x02000000 - 0x0203ffff: 256 KiB EWRAM ============================
0x020008ac	g_SfxAudioActive	u8
0x020008b4	g_SfxSlots	u8[0xb0]
0x02002640	g_HeapArena	u8[0x3d9c0]

# ============================= 0x03000000 - 0x03007fff: 32 KiB IWRAM =============================
0x030015b8	g_ActorPoolMain	ActorPoolMain *
0x030015bc	g_ActorPoolOverlay	ActorPoolOverlay *
0x030015c0	g_ActorPoolMainFreeList	Actor *
0x030015c4	g_ActorPoolOverlayFreeList	Actor *
0x030019f0	g_SpriteFrameSubmitted	u8
0x030019f8	g_BonusMapCursorObj	Actor *
0x03001b08	g_FontDescriptors	FontDesc[5]
0x03001b58	g_FontRenderCtx	FontRenderCtx
0x03001b90	g_FontScratchSlots	FontScratchSlot[4]
0x03001c90	g_ShopCursor	Actor *
0x03001c98	g_ShopBackpackSlotSprites	Actor *[8]
0x03001cb8	g_ShopType	u8
0x03001cba	g_RuneForgeRuneB	u8[2]
0x03001cbc	g_RuneForgeRuneA	u8[2]
0x03001d10	g_IrqHandlerCode	u8[0x200]
0x03001f10	g_InterruptFlags	volatile u16
0x03001f14	g_VBlankIrqNesting	volatile u32
0x03001f18	g_OamShadowParity	u32
0x03001f20	g_BackpackSlotSprites	Actor *[16]
0x03001fa0	g_BackpackRuneSprites	Actor *[8]
0x03001fe0	g_BackpackCursorObj	Actor *
0x03002030	g_SaveLoadActionButtonObj	Actor *
0x03002034	g_SaveLoadDeleteButtonObj	Actor *
0x03002038	g_SaveLoadSlotObjs	Actor *[4]
0x03002048	g_Heaps	Heap[1]
0x03002058	g_HeapCount	u32
0x03002080	g_OptionValues	u8[8]
0x03002088	g_OptionsSfxHandle	u32
0x0300208c	g_OptionsSongId	u8
0x030020e8	g_BlendEva	BlendCoefficient
0x030020f0	g_BlendEvb	BlendCoefficient
0x0300215c	g_TextLanguage	Language
0x03002160	g_TextStringBuffer	char *
0x03002164	g_TextThousandsSeparator	u8
0x030021a8	g_MainMenuSfxHandle	u32
0x030022d8	g_ObjTileBitmap	u8[0x80]
0x03002358	g_ObjTileDeferredBitmap	u8[0x80]
0x030023d8	g_ObjTileWorldHighWater	u16
0x030023dc	g_EepromChannel	u8
0x030023de	g_EepromTimeoutCount	u16
0x030023e0	g_EepromTimeoutFlag	u8
0x030023e4	g_EepromTimerReg	u16 *
0x030023e8	g_EepromSavedIME	u32
0x03002420	g_ActorListMain	ActorList
0x03002428	g_CollisionCheckQueueCount	s32
0x03002430	g_CollisionCheckQueue	Actor *[0x100]
0x03003210	g_ActorListParked	ActorList
0x03003218	g_ActorListOverlay	ActorList
0x03003228	g_MissionCurrentStream	u8
0x0300322c	g_MissionCheckpointVars	u8[3]
0x03003230	g_MissionFlags	u16
0x03003234	g_MissionGroups	u8 *
0x03003238	g_MissionScriptVars	u8[8]
0x03003240	g_MissionVariant	u8
0x03003244	g_MissionWaypointPaths	u8 *
0x03003248	g_MissionStreams	u8 *
0x030035c4	g_UnknownSfxHandle_030035c4	u32
0x030035d0	g_DecompressLz77	u32
0x030035e0	g_DecompressPucrunchCode	u8[0x350]
0x03003930	g_DecompressPucrunch	u32
0x03003940	g_DecompressLz77Code	u8[0x1f8]
0x03003ba0	g_InGameDialogState	InGameDialogState
0x03003ba4	g_InGameDialogId	u8
0x03003bac	g_FlagBearerCount	u8
0x03003bb0	g_TransitionTimer	Actor *
0x03003c00	g_PlayerGlobals	PlayerGlobals
0x03003f68	g_MissionSpawnPoint	u8[2]
0x03003f70	g_PlayerHuds	PlayerHud[2]
0x03004078	g_MenuKeysReleased	u16[2]
0x0300407c	g_PlayerKeysCurrent	u16[2]
0x03004080	g_PlayerKeysPressed	u16[2]
0x03004084	g_PlayerKeysReleased	u16[2]
0x03004088	g_MenuKeysCurrent	u16[2]
0x0300408c	g_InputIdleCounter	u16
0x03004090	g_MenuKeysPrev	u16[2]
0x03004094	g_MenuKeysPressed	u16[2]
0x03004098	g_InputDisableFlags	u16[2]
0x030040a0	g_LinkKeysCurrent	u16[2]
0x030040a4	g_PlayerKeysPrev	u16[2]
0x030040b0	g_EngineState	EngineState *
0x030040c0	g_IrqHandlerTable	void *[13]
0x03004100	g_EngineStateStorage	EngineState
0x0300413c	g_LootPileCount	u16
0x03004144	g_GameFlags	GameFlags
0x03004150	g_ObjPaletteSnapshot	u16 *
0x0300415c	g_LootTier	u8
0x0300416c	g_UnknownSfxHandle_0300416c	u32
0x03004174	g_CurrentMissionId	u32
0x03004180	g_Direction8sFromVectors	Direction8[16]
0x03004190	g_Vector2Zero	Vector2Fp16
0x030041a0	g_MenuReturnScene	u32
0x030041a4	g_FrameCounter	u32
0x030041b0	g_SceneCurrent	SceneState
0x030041d0	g_ScenePrevious	SceneState
0x030041f0	g_SceneNext	SceneState
0x03004218	g_CompanionActors	Actor *[2]
0x03004220	g_SpriteAllocCount	u8
0x03004330	g_OamShadowApplied	u8 *
0x03004340	g_OamShadowA	u8[0x800]
0x03004b40	g_OamShadow	u8 *
0x03004b70	g_SpriteAllocCountSnapshot	u8
0x03004b80	g_OamShadowB	u8[0x800]
0x03005500	g_ShieldBubble	Actor *
0x030055b0	g_SaveParkedProgress	SaveParkedProgress[2]
0x030055c0	g_MpPeerSaveSlot	SaveSlot
0x03005630	g_SaveSlots	SaveSlot[4]
0x030057f0	g_SaveGlobals	SaveGlobals
0x03005834	g_LastSaveSlot	u8
0x03005f8c	g_VramCapture	u8 *
0x030069dc	g_CoopUnlockFlags	UnlockFlags
0x03006c08	g_MpMessageMask	u32
0x03006d05	g_MpMultiPlayerId	s8
0x0300765c	g_UnknownMusic_0300765c	u8
0x03007660	g_CurrentSongId	u8
0x03007664	g_MusicPlaying	u8
0x03007670	g_TextObjSlots	Actor *[6]
0x03007720	g_TransitionState	TransitionState
0x03007730	g_EepromDescriptor	EepromDesc *
0x03007ff8	g_InterruptCheckFlags	volatile u16
0x03007ffc	g_BiosIsrPointer	void *

# ================== 0x08000000 - 0x09ffffff: 32 MiB ROM (16 MiB in RotK Retail) ==================
0x08050418	FacingVariants	u8[8]
0x08050440	ActorMissionConstructors	ActorMissionConstructor[51]
0x080505f4	MenuBackdropBgCnt	u32
0x080505fc	MenuTextBgCnt	u32
0x0805060c	BonusMapMenuPaletteCycles	u8[12]
0x08050618	BonusMapMenuBgCnt0	u32
0x0805061c	BonusMapMenuBgCnt1	u32
0x08050620	BonusMapMenuBgCnt2	u32
0x08050624	BonusMapCursorAnimation	SpriteAnimation
0x08050634	BonusMapMenuEntries	BonusMapMenuEntry[5]
0x080507bc	HeroStartMissions	u8[8]
0x080507c2	HeroStartVariants	u8[8]
0x08050810	ChestAnimation	SpriteAnimation
0x0805083c	MissionScriptOpcodeHandlers	void *[69]
0x08051044	CreditsLineKinds	s16[3]
0x08051190	GatePanelTypes	u8[72]
0x08057518	EnemyTypes	EnemyTypeInfo[83]
0x08057b94	EnemySfxSets	EnemySfx[83]
0x08057f78	EnemyLootInfos	EnemyLootInfo[83]
0x08058210	MissionScriptOpcodeLengths	u8[70]
0x08058258	MissionScriptTimerUpdates	void *[3]
0x08058264	FontStyles	u32[10]
0x08058298	ShopCursorPosBackpack	ShopCursorPos[8]
0x080582d8	ShopCursorPosForge	ShopCursorPos[2]
0x080582e8	ShopCursorPosHollow	ShopCursorPos[10]
0x08058338	ShopCursorPosShrine	ShopCursorPos[3]
0x08058350	ShopCursorPosRuneForge	ShopCursorPos[3]
0x08058368	ForgeUpgradeCosts	u16[8]
0x08058378	RuneForgeCosts	u16[15]
0x08058396	ItemGemBaseValues	u8[16]
0x080628d0	XpThresholds	u32[50]
0x080629b0	MenuLrButtonIndicatorPositions	Vector2Int[2]
0x08062a60	Direction8sFromDpad	u8[16]
0x08062a88	ShopPaletteCycles	u8[12]
0x08062a94	ShopBgCnt0	u32
0x08062a98	ShopBgCnt1	u32
0x08062a9c	ShopBgCnt2	u32
0x08062aa0	ShopBgCnt3	u32
0x08062c64	ShopCursorAnimations	SpriteAnimation[17]
0x08062e7c	KnifeItems	ItemBase[18]
0x08062f54	KnifeGfx	ItemGfx[18]
0x0806314c	KnifeItemFlags	ItemMetadata[18]
0x080631dc	Sword1HItems	ItemBase[11]
0x08063260	Sword1HGfx	ItemGfx[11]
0x08063394	Sword1HItemFlags	ItemMetadata[11]
0x080633ec	Sword2HItems	ItemBase[9]
0x08063458	Sword2HGfx	ItemGfx[9]
0x08063554	Sword2HItemFlags	ItemMetadata[9]
0x0806359c	AxeItems	ItemBase[11]
0x08063620	AxeGfx	ItemGfx[11]
0x08063754	AxeItemFlags	ItemMetadata[11]
0x080637ac	MaceItems	ItemBase[10]
0x08063824	MaceGfx	ItemGfx[10]
0x0806393c	MaceItemFlags	ItemMetadata[10]
0x0806398c	StaffItems	ItemBase[4]
0x080639bc	StaffGfx	ItemGfx[4]
0x08063a2c	StaffItemFlags	ItemMetadata[4]
0x08063a4c	BowItems	ItemBase[13]
0x08063ae8	BowGfx	ItemGfx[13]
0x08063c54	BowItemFlags	ItemMetadata[13]
0x08063cbc	ArrowItems	ItemBase[10]
0x08063d34	ArrowGfx	ItemGfx[10]
0x08063e4c	ArrowItemFlags	ItemMetadata[10]
0x08063e9c	ArrowAffixFlags	AffixFlags[10]
0x08063ec4	ArmorItems	ItemBase[24]
0x08063fe4	ArmorGfx	ItemGfx[24]
0x08064284	ArmorItemFlags	ItemMetadata[24]
0x08064344	ShieldItems	ItemBase[8]
0x080643a4	ShieldGfx	ItemGfx[8]
0x08064484	ShieldItemFlags	ItemMetadata[8]
0x080644c4	AccessoryItems	ItemBase[12]
0x08064554	AccessoryGfx	ItemGfx[12]
0x080646a4	AccessoryItemFlags	ItemMetadata[12]
0x08064704	CloakItems	ItemBase[9]
0x08064770	CloakGfx	ItemGfx[9]
0x0806486c	CloakItemFlags	ItemMetadata[9]
0x080648b4	GloveItems	ItemBase[8]
0x08064914	GloveGfx	ItemGfx[8]
0x080649f4	GloveItemFlags	ItemMetadata[8]
0x08064a34	ShoeItems	ItemBase[7]
0x08064a88	ShoeGfx	ItemGfx[7]
0x08064b4c	ShoeItemFlags	ItemMetadata[7]
0x08064b84	UniqueItems	ItemBase[53]
0x08064e00	UniqueGfx	ItemGfx[53]
0x080653cc	UniqueItemFlags	ItemMetadata[53]
0x08065648	WeaponPrefixRegionRanges	AffixIndexRange[28]
0x080656b8	WeaponPrefixes	ItemAffix[156]
0x08065e08	WeaponPrefixFlags	AffixFlags[156]
0x08066078	StaffBowPrefixRegionRanges	AffixIndexRange[28]
0x080660e8	StaffBowPrefixes	ItemAffix[108]
0x080665f8	StaffBowPrefixFlags	AffixFlags[108]
0x080667a8	ArmorPrefixRegionRanges	AffixIndexRange[28]
0x08066818	ArmorPrefixes	ItemAffix[156]
0x08066f68	ArmorPrefixFlags	AffixFlags[156]
0x080671d8	AccessoryPrefixRegionRanges	AffixIndexRange[28]
0x08067248	AccessoryPrefixes	ItemAffix[156]
0x08067998	AccessoryPrefixFlags	AffixFlags[156]
0x08067c08	CloakPrefixRegionRanges	AffixIndexRange[28]
0x08067c78	CloakPrefixes	ItemAffix[36]
0x08067e28	CloakPrefixFlags	AffixFlags[36]
0x08067eb8	GloveShoePrefixRegionRanges	AffixIndexRange[28]
0x08067f28	GloveShoePrefixes	ItemAffix[96]
0x080683a8	GloveShoePrefixFlags	AffixFlags[96]
0x08068528	SuffixTierRanges	AffixIndexRange[10]
0x08068550	ItemSuffixes	ItemAffix[160]
0x08068cd0	ItemSuffixFlags	AffixFlags[160]
0x08068f50	ItemTypeInfos	ItemTypeInfo[15]
0x080691a8	Runes	RuneStats[15]
0x080691e4	LootPileAnimations	SpriteAnimation[89]
0x0806979c	SaveLoadPaletteCycles	u8[8]
0x080697a4	SaveLoadActionButtonAnimation	SpriteAnimation
0x080697b4	SaveLoadDeleteButtonAnimation	SpriteAnimation
0x080697c4	SaveLoadHeroAnimations	SpriteAnimation[16]
0x080698c4	SaveLoadSlotPositions	Vector2Int[4]
0x08069920	MissionPaletteCycles	u8[312]
0x0806c0f0	MissionTable	MissionTableEntry[130]
0x0806c708	SineQuarterTurn	fp16_16[65]
0x0806c80c	Direction8sFromVectors	Direction8[16]
0x0806c828	SceneHandlers	SceneEntry[26]
0x0806c9e4	MultiplayerLevelSelectEntries	MultiplayerLevelSelectEntry[8]
0x0806cac4	MultiplayerLevelSelectLockedAnimation	SpriteAnimation
0x0806cddc	NpcSfxSets	NpcSfx[27]
0x0806cec8	OptionsPaletteCycles	u8[8]
0x0806ced0	OptionMaxValues	u8[8]
0x0806ced8	OptionsBgCnt0	u32
0x0806cedc	OptionsBgCnt1	u32
0x0806cee0	OptionsBgCnt2	u32
0x0806cee4	OptionsBgCnt3	u32
0x0806d20c	RegionMissionRanges	RegionMissionRange[28]
0x0806db94	LootHealthDropChances	LootHealthDropTable
0x0806dbac	LootHeroItemTypeRolls	LootItemTypeRolls[8]
0x0806dc2c	LootRegionProgressionsAragorn	LootRegionProgression[28]
0x0806dc9c	LootRegionProgressionsEowyn	LootRegionProgression[28]
0x0806dd0c	LootRegionProgressionsFrodoGandalf	LootRegionProgression[28]
0x0806e0c4	SaveHeaderTemplate	u8[64]
0x0806e104	SaveSlotStartBlocks	u16[4]
0x0806e3d4	PassiveSkills	PassiveSkill[35]
0x0806ea3c	HeroSkillIdsFrodo	u8[9]
0x0806eb38	HeroSkillIdsSam	u8[9]
0x0806ec34	HeroSkillIdsSmeagol	u8[9]
0x0806ed30	HeroSkillIdsLegolas	u8[9]
0x0806ee2c	HeroSkillIdsAragorn	u8[9]
0x0806ef28	HeroSkillIdsGandalf	u8[9]
0x0806f024	HeroSkillIdsEowyn	u8[9]
0x0806f120	HeroSkillIdsGimli	u8[9]
0x0806f684	CutsceneBgCnt0	u32
0x0806f688	CutsceneBgCnt1	u32
0x0806f68c	CutscenePages	CutscenePage[71]
0x0807036c	IwramStaticsStart	u8 *const
0x08070370	IwramStaticsEnd	u8 *const
0x08070374	EwramStaticsStart	u8 *const
0x08070378	EwramStaticsEnd	u8 *const
0x08070388	MainMenuPaletteCycles	u8[24]
0x080703a0	MainMenuBgCnt0	u32
0x080703a4	MainMenuBgCnt1	u32
0x080703a8	MainMenuBgCnt2	u32
0x080703ac	MainMenuBgCnt3	u32
0x08075010	HuffmanTreeEn	HuffmanNode[83]
0x0807ee2c	HuffmanTreeFr	HuffmanNode[94]
0x08089868	HuffmanTreeDe	HuffmanNode[89]
0x08093c70	HuffmanTreeIt	HuffmanNode[92]
0x0809e334	HuffmanTreeEs	HuffmanNode[92]
0x08281fb8	EepromDesc512Byte	EepromDesc
0x08281fc4	EepromDesc8KByte	EepromDesc
0x08281fd0	EepromWriteTimeoutConfig	EepromTimeoutConfig
0x08282150	Direction8MoveVectors	s32[16]
0x08282190	Direction8MoveVectorsSteep	s32[16]
0x082821d0	Direction32MoveVectors	Vector2Fp16[32]
0x082825e8	BonusMissions	BonusMissionEntry *[4]
0x082826f8	MissionScriptVarTable1	void *[9]
0x08282830	FxChargeVariants	u8[5]
0x08282898	HeroMoveAnimationBanks	void *[8]
0x082828b8	HeroMeleeAnimationBanks	void *[8]
0x082828d8	HeroCastAnimationBanks	void *[8]
0x08282958	MenuLrButtonIndicatorAnimations	SpriteAnimation[2]
0x08282978	HeroPortraitBgAssets	void *const [8]
0x08282bb4	IrqHandlerTable	void *[13]
0x08282c28	SaveLoadHeroAnimationPtrs	SpriteAnimation *[8]
0x08282c48	SaveLoadHeroSelectedAnimationPtrs	SpriteAnimation *[8]
0x08282c68	SaveLoadHeroPalettes	u16 *[8]
0x082830b0	ObjPalettes	u16 *[90]
0x082833d8	DialogLineInfos	DialogLineInfo[2022]
0x08287310	LootHeroRegionProgressions	LootRegionProgression *const [8]
0x082898f0	Songs	SongEntry[34]
0x08289a10	LanguageTextPackages	s32 *[5]
0x08289a24	MainMenuBgAssets	void *[5]
0x08b6a8ec	UiPalette	u8[]
0x08b6c02c	BonusMapMenuBg0Asset	u8[]
0x08b8104c	ShopBg0Asset	u8[]
0x08b834c4	ForgeBgAsset	u8[]
0x08b84808	ForgeBargainIconAsset	u8[]
0x08b848f8	RangerHollowBgAsset	u8[]
0x08b86484	EntWaterIconAsset	u8[]
0x08b86550	ShrineBgAsset	u8[]
0x08b8822c	ShrineAttributePointIconAsset	u8[]
0x08b88330	ShrineSkillPointIconAsset	u8[]
0x08b88424	ShrineKingsfoilIconAsset	u8[]
0x08b88540	RuneForgeBgAsset	u8[]
0x08b89860	ShopSoldOutIconAsset	u8[]
0x08b8992c	ShopRuneOfferIconAsset	u8[]
0x08b89a3c	ShopGemPouchIconAsset	u8[]
0x08b89aec	ShopPalette	u8[]
0x08b89b10	EntWaterOwnedIconAsset	u8[]
0x08b89c10	MenuBg0Asset	u8[]
0x08b8be60	MenuBg1Asset	u8[]
0x08b9f6f8	LanguageSelectBg3Asset	u8[]
0x08ba0430	LanguageSelectBg2Asset	u8[]
0x08ba5a70	SaveLoadBg0Asset	u8[]
0x08ba81d0	OptionsBg2Asset	u8[]
0x08bb4094	MainMenuBg2Asset	u8[]
0x08bb51d0	MainMenuBg3Asset	u8[]
