# Committed manifest for `make verify`: which carved source
# files are spliced into the base ROM to reconstruct it. Columns: addr<TAB>src.
# Hand-editable; the `rotkit carve` carvers keep their own rows here.
0x0800f168	src/c/combat_resolve.c
0x08010538	src/c/player_awardXp.c
0x08010818	src/c/combat.c
0x08012f90	src/c/scene/bonusMapMenu.c
0x08014978	src/c/actor/chest.c
0x08015220	src/c/combat_resolvePlayerAttackOnActor.c
0x0801d5c0	src/c/font.c
0x0801da70	src/c/scene/shop.c
0x0801fe4c	src/c/scene/shop_onBack.c
0x0802623c	src/c/player_addCorruption.c
0x08027904	src/c/combat_damageCalc.c
0x08027af0	src/c/menu_createLrButtonIndicators.c
0x080287dc	src/c/combat_damageRange.c
0x08029a5c	src/c/input.c
0x08029e10	src/c/menu.c
0x0802a0e8	src/c/system.c
0x0802b064	src/c/item/affix_formatName.c
0x0802c08c	src/c/item_deleteFromInventory.c
0x0802ee0c	src/c/actor/lootPile.c
0x0802fae0	src/c/scene/languageSelect.c
0x080305c4	src/c/scene/saveLoadMenu.c
0x08032098	src/c/scene/gameplay.c
0x08032754	src/c/math.c
0x08032aa8	src/c/memory.c
0x08033000	src/c/game.c
0x080368b0	src/c/scene/optionsMenu.c
0x0803a6e8	src/c/loot.c
0x0803b9b8	src/c/combat_shieldAbsorbsHit.c
0x0803cc8c	src/c/save.c
0x0803d264	src/c/gfx_mosaic.c
0x0803df60	src/c/gfx_alphaBlend.c
0x0803e0f8	src/c/gfx_fadeIn.c
0x0803e2fc	src/c/gfx_windowFadeInFromBlack.c
0x0803e374	src/c/gfx_fadeOut.c
0x0803e640	src/c/gfx_windowFadeOutToBlack.c
0x08046dc4	src/c/multiplayer_getMessageMask.c
0x08047140	src/c/sfx.c
0x080477f0	src/c/text.c
0x08047ef4	src/c/scene/mainMenu.c
0x08050634	carved/data/level_icons/BonusMapMenuEntries.c
0x08057518	carved/data/enemy_tables/EnemyTables.c
0x080628d0	carved/data/player_tables/XpThresholds.c
0x08062e7c	carved/data/item_tables/KnifeTables.c
0x080631dc	carved/data/item_tables/Sword1HTables.c
0x080633ec	carved/data/item_tables/Sword2HTables.c
0x0806359c	carved/data/item_tables/AxeTables.c
0x080637ac	carved/data/item_tables/MaceTables.c
0x0806398c	carved/data/item_tables/StaffTables.c
0x08063a4c	carved/data/item_tables/BowTables.c
0x08063cbc	carved/data/item_tables/ArrowTables.c
0x08063ec4	carved/data/item_tables/ArmorTables.c
0x08064344	carved/data/item_tables/ShieldTables.c
0x080644c4	carved/data/item_tables/AccessoryTables.c
0x08064704	carved/data/item_tables/CloakTables.c
0x080648b4	carved/data/item_tables/GloveTables.c
0x08064a34	carved/data/item_tables/ShoeTables.c
0x08064b84	carved/data/item_tables/UniqueTables.c
0x08065648	carved/data/loot_tables/WeaponPrefixRegionRanges.c
0x080656b8	carved/data/affix_tables/WeaponPrefixTables.c
0x08066078	carved/data/loot_tables/StaffBowPrefixRegionRanges.c
0x080660e8	carved/data/affix_tables/StaffBowPrefixTables.c
0x080667a8	carved/data/loot_tables/ArmorPrefixRegionRanges.c
0x08066818	carved/data/affix_tables/ArmorPrefixTables.c
0x080671d8	carved/data/loot_tables/AccessoryPrefixRegionRanges.c
0x08067248	carved/data/affix_tables/AccessoryPrefixTables.c
0x08067c08	carved/data/loot_tables/CloakPrefixRegionRanges.c
0x08067c78	carved/data/affix_tables/CloakPrefixTables.c
0x08067eb8	carved/data/loot_tables/GloveShoePrefixRegionRanges.c
0x08067f28	carved/data/affix_tables/GloveShoePrefixTables.c
0x08068528	carved/data/loot_tables/SuffixTierRanges.c
0x08068550	carved/data/affix_tables/ItemSuffixTables.c
0x08068f50	carved/data/item_tables/ItemTypeInfos.c
0x080691a8	carved/data/item_tables/Runes.c
0x080691e4	carved/data/loot_piles/LootPileAnimations.c
0x0806c828	carved/data/scene/SceneHandlers.c
0x0806c9e4	carved/data/level_icons/MultiplayerLevelSelectEntries.c
0x0806cddc	carved/data/actor_tables/NpcSfxSets.c
0x0806d20c	carved/data/mission_tables/RegionMissionRanges.c
0x0806db94	carved/data/loot_tables/LootTables.c
0x0806f684	carved/data/cutscenes/CutsceneBgCnts.c
0x0806f68c	carved/data/cutscenes/CutscenePages.c
0x08282978	carved/data/hero_portraits/HeroPortraitBgAssets.c
0x082833d8	carved/data/dialog_portraits/DialogLineInfos.c
0x08287310	carved/data/loot_tables/LootHeroRegionProgressions.c
0x082898f0	carved/data/sfx_tables/Songs.c
0x0876c964	carved/data/items/KnifeHollowIcons.c
0x0876d858	carved/data/items/Sword1HHollowIcons.c
0x0876e228	carved/data/items/Sword2HHollowIcons.c
0x0876e9e8	carved/data/items/AxeHollowIcons.c
0x0876f368	carved/data/items/MaceHollowIcons.c
0x0876fc38	carved/data/items/StaffHollowIcons.c
0x0876ff68	carved/data/items/BowHollowIcons.c
0x087709d4	carved/data/items/ArrowHollowIcons.c
0x087714d4	carved/data/items/ArmorHollowIcons.c
0x08772dd8	carved/data/items/ShieldHollowIcons.c
0x08773664	carved/data/items/AccessoryHollowIcons.c
0x087742b8	carved/data/items/CloakHollowIcons.c
0x08774c9c	carved/data/items/GloveHollowIcons.c
0x08775528	carved/data/items/ShoeHollowIcons.c
0x08775c70	carved/data/items/UniqueHollowIcons.c
0x0878a918	carved/data/items/KnifeBackpackIcons.c
0x0878b974	carved/data/items/Sword1HBackpackIcons.c
0x0878c410	carved/data/items/Sword2HBackpackIcons.c
0x0878cc98	carved/data/items/AxeBackpackIcons.c
0x0878d708	carved/data/items/MaceBackpackIcons.c
0x0878e09c	carved/data/items/StaffBackpackIcons.c
0x0878e420	carved/data/items/BowBackpackIcons.c
0x0878f0e8	carved/data/items/ArrowBackpackIcons.c
0x0878fca0	carved/data/items/ArmorBackpackIcons.c
0x0879188c	carved/data/items/ShieldBackpackIcons.c
0x087921f0	carved/data/items/AccessoryBackpackIcons.c
0x08792fbc	carved/data/items/CloakBackpackIcons.c
0x08793a98	carved/data/items/GloveBackpackIcons.c
0x08794418	carved/data/items/ShoeBackpackIcons.c
0x08794c2c	carved/data/items/UniqueBackpackIcons.c
0x08798390	carved/data/items/KnifeEquipIcons.c
0x08799864	carved/data/items/Sword1HEquipIcons.c
0x0879a628	carved/data/items/Sword2HEquipIcons.c
0x0879b0c8	carved/data/items/AxeEquipIcons.c
0x0879bf08	carved/data/items/MaceEquipIcons.c
0x0879cc10	carved/data/items/StaffEquipIcons.c
0x0879d0f0	carved/data/items/BowEquipIcons.c
0x0879e10c	carved/data/items/ArrowEquipIcons.c
0x0879f954	carved/data/items/ArmorEquipIcons.c
0x087a244c	carved/data/items/ShieldEquipIcons.c
0x087a341c	carved/data/items/AccessoryEquipIcons.c
0x087a4470	carved/data/items/CloakEquipIcons.c
0x087a51dc	carved/data/items/GloveEquipIcons.c
0x087a5e54	carved/data/items/ShoeEquipIcons.c
0x087a6828	carved/data/items/UniqueEquipIcons.c
0x08b55350	carved/data/level_icons/BonusIcons.c
0x08b610c8	carved/data/level_icons/MultiplayerIcons.c
0x08b91fd4	carved/data/hero_portraits/HeroPortraits.c
0x08d3dce0	carved/data/dialog_portraits/DialogPortraits.c
0x08e27234	carved/data/cutscenes/CutscenePictures.c
0x08febd84	carved/data/loot_piles/LootPiles.c
